$roboto-font-path: "fonts/roboto/" !default;
@import "../../../node_modules/materialize-css/sass/materialize";

/* Sticky Footer */
#app-div {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.searchResults {
  display: flex;
  flex-wrap: wrap;
}

.searchResultItem {
  flex: 1 0 45%;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 100px;
  min-width: 415px;

  .card-content {
    width: 100%;
  }
}